@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 *{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
   
}

body {
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 45deg, rgb(151, 199, 216),white);
    font-size: 30px;
}

.container {
    width: 450px;
    border: solid 2px #3e9ab6ca;
    padding: 20px;
    border-radius: 10px; 
    background-color: rgb(244, 249, 251);
}

article{
  
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 249, 251);
}

.login{
    text-align: center;
    font-weight: bold;
    font-size: 50px;      
    color: rgb(32, 142, 176);              
}

.gradiente{
    height:1px; 
    background: radial-gradient(circle, rgb(102, 175, 197) 0%, rgba(102, 175, 197) 49%, rgba(255,255,255,1) 100%);
    margin: 5px 0 20px;
}

.primaryFont{
    font-size: 20px;
}

.testplace,
.testplace::placeholder {
    padding: 6px;
    color: #3e9ab6ca;
}

.label{
    user-select: none;
    cursor: pointer;
}

.button_1{
    margin-top: 15px;
    font-size: 30px;
    background-color: #3e9ab6ca;
    border-color: #3e9ab600;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.container > .footer {
    margin: -20px;
    padding: 20px;
    background-color:#cad0dd;
    margin-top: 20px;
    width: 100%;
    text-align: end;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
}

.button_2{
    padding: 3px;
    font-weight: bolder;
    color: #14b6cb;
    border-radius: 5px;
    margin-left: 10px;
    border: solid 2px gold;
    cursor: pointer;
}